.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 72px;
    left: 0;
    bottom: 0;
    top: 60px;
    /* border-right: 1px solid black; */
    align-items: center;
    z-index: +1;
    background-color: white;
    z-index: 20;
    padding-top: 15px;
}

.sb-icon{
    height: 24px;
    /* margin: 10px; */
    margin-bottom: 8px;
}

.subscriptions, .home, .explore, .originals, .yt-music, .library{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72px;
    /* height: 75px; */
    padding-top: 13px ;
    padding-bottom: 13px;

    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
/* .home:hover{
    background-color: red;
} */

.sidebar div:hover{
    background-color: rgb(224, 224, 224);
}

.sidebar-text{
    font-size: 10px;
    color: rgb(30, 30, 30);
    /* line-height: 20px; */
}





