.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-pic{
    display: inline-block;
    width: 50px;
    vertical-align: top;
    margin-top: 10px;
}
.profile-pic{
    width: 40px;
    border-radius: 50%;
    /* vertical-align: top; */
}

.video-info{
    display: inline-block;
    margin-top: 10px;
    width: 200px;
}

.video-thumbnail{
    /* display: block; */
    width: 100%;
    /* position: relative; */
}

.video-title{
    font-size: 15px;
    font-weight: 500;
}

.channel-name, .video-stats{
    /* margin-top: 10px; */
    font-size: 12px;
    line-height: 17px;
    color: rgb(96,96,96);
}

.channel-name{
    margin-top: 10px;
}

.thumbnail-row{
    position: relative;
}

.video-duration{
    z-index: 1;
    position: absolute;
    background-color: black;
    font-family: Roboto;
    font-weight: 500;
    color: white;
    font-size: 13px;
    padding: 3px;
    border-radius: 2px;
    bottom: 10px;
    right: 5px;
    opacity: 0.9;
}